@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

body{
    background-color: #1E1E1E;
}
header{
    width: 1100px;
    height: 104px;
    margin: auto; /* centrar un contenedor */
    background-color: #120326;
}
main{
    width: 1100px;
    height: 720px;
    margin: auto; /* centrar un contenedor */
    background-color: #2C2C2C;
}
footer{
    width: 1100px;
    height: 160px;
    margin: auto; /* centrar un contenedor */
    background-color: #1A1A1A;
}