@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600&display=swap');

/* reseteo */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Figtree', sans-serif;
    color: #231F4D;
}    

header{
    width: 1100px;
    height: 104px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    header img{
        margin-left: 16px;
    }
    header nav a{
        text-decoration: none;
        font-size: 20px;
        color: #231F4D;
        margin-right: 16px;
    }
    header nav a:hover{
        color: #E200E2;
    }
/* main */
main{
    width: 1100px;
    margin: auto;
}
/* hero-banner */
#hero-banner{
    height: 450px;
    background-color: #e99292;
    background-image: url(../imgs/bg-nubes.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}

    #hero-banner h1{
        color: #fff;
        font-size: 40px;
        font-weight: 300;
    }

/* sección servicios */
#servicios{
    padding: 32px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F7CDC9;
}
    #servicios h2{
        /* width: calc(1100px - 64px); */
        width: 100%;
        text-align: center;
        font-weight: normal;
        margin-bottom: 32px;
    }
    #servicios article{
        width: 320px;
        border-radius: 8px;
        background-color: #fff;
    }

        #servicios article img{
            border-radius: 8px 8px 0px 0px;
        }
        #servicios article h3{
            margin: 16px 24px 0px 24px;
            font-weight: normal;
        }
        #servicios article p{
            padding: 24px;
        }

/* video en página promos */
        video{
            width: 1100px;
            height: 450px;
            object-fit: cover;
        }

/* contenido sección promos */
#promos{
    background-color: #FED8D2;
    margin-top: 40px;
    padding: 40px;
    display: grid;
    row-gap: 40px;
}
    #promos article{
        display: flex;
    }
        #promos article div{
            background-color: #fff;
            padding: 16px 32px;
        }
        #promos article div h2{
            font-weight: normal;
            margin-bottom: 20px;
        }
        #promos article div span{
            color: #E14536;
            display: block;
            margin-bottom: 40px;
        }
        #promos article a{
            color: #fff;
            text-decoration: none;
            background-color: #E14536;
            display: block;
            width: 160px;
            margin: 40px auto 0px auto;
            padding: 10px;
            text-align: center;
            border-radius: 8px;
            transition: 500ms;
        }
        #promos article a:hover{
            background-color: hsl(5, 74%, 45%);
            box-shadow: 0px 0px 8px hsl(5, 74%, 55%);
        }


/* footer */
footer{
    width: 1100px;
    height: 184px;
    background-color: #29252F;
    margin: 40px auto 0px auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
    footer nav a{
        margin-left: 24px;
    }